.DS_Store
.ipynb_checkpoints
*.pyc
*.pyspy
.idea/
.coverage
.venv*/
.vscode/
MANIFEST
build
dist
htmlcov
.project
.pydevproject
.pytest_cache/
*.egg-info/
ruff.toml
*.png
*.svg
*.pt
*.pkl
*.gif
*.log
*.h5
