.DS_Store
.ipynb_checkpoints
*.pyc
*.pyspy
.idea/
.coverage
.f2py_f2cmap
.venv*/
.vscode/
MANIFEST
build
dist
htmlcov
_flib*.so
flib/polarization.f90
.project
.pydevproject
.pytest_cache/
*.egg-info/
ruff.toml
*.png
*.pkl
*.gif
